<main>
    <section class="page">
            <div class="centered-box">
            <h1>Login</h1>
            <form action="<%=  sessions_url %>" method="post" >
            
            <p><label>
                Username:
                <input type="text" id="user_user_name" name="user[user_name]">
            </label>
            </p>
            <p><label>
                Password:
                <input type="password" id="user_password" name="user[password]">
            </label>
            </p>
            <input type="submit">
            </form>
            </div>
    </section>
</main>